*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

html ,body{
height: 100%;
}

body{
    display: grid;
    place-items: center;
    background: url(./img/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cal{
    width: 350px;
    padding: 40px 30px;
    border-radius: 10px;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    border-radius: 50px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-left:  1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.5);
}

form .result{
    height:80px;
    width: 100%;
    border-radius: 5px;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    border-radius: 50px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.5);
}

.result input{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    font-size: 30px;
    padding:0 20px;
    text-align: right;
    font-weight: 500;
    color: #303030;
    pointer-events: none;
    font-family: sans-serif;
}

form .buttons{
    text-align: center;
    padding:30px 0 0 0;
}

.buttons input[type="button"]{
    height:56px;
    width:56px;
    font-size: 23px;
    margin: 5px;
    border: none;
    outline: none;
    border-radius:  50%;
    color: #333333;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    border-radius: 50px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.5);
}

.buttons input[type="button"]:focus{
    color: #000;
    transform:  scale(0.9);
    box-shadow: inset 2px 2px 5px 
    rgba(0,0,0,0.5), inset -3px -3px 7px rgba(255,255,255,0.05);
}

